* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-y: auto;
  min-height: 100vh;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  position: relative;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./images/cities/hero-image.jpg');
  height: 50vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.hero-text {
  text-align: center !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.navbar,
li {
  /* padding: 1px 3px; */
  /* margin-right: 10px; */
  font-weight: bold;
  color: black;
}

footer {
  align-items: center;
}

.hero-input {
  /* width: 90%; */
  /* padding: 2rem; */
  /* padding: 0.5rem;
  border-radius: 1rem; */

  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.hero-image-favicon {
  padding: 0px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 80px;
  grid-column-gap: 30px;

  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}

.image {
  border-radius: 5px;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  width: 30px;
  /* height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; */

  height: 100px;
}

/* .gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.gallery-item .image img:hover {
  transform: rotate();
} */

.white-space {
  padding: 150px;
  margin: 50px;
}

.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.image img:hover {
  -webkit-filter: brightness(50%);
  transform: scale(1.1);
}

.centered img:hover {
  -webkit-filter: brightness(50%);
  transform: scale(1.1);
}

@media (min-width: 350px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 750px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* CSS for anchor tags  */
.image {
  color: white;
}
.image a:hover {
  color: white;
}

.footer {
  height: 5px;
  /* width: 100%; */
}

.content {
  padding: 100px 0px;
}

.text-white {
  color: #fff !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.tile {
  cursor: pointer;
  transition: 02s all;
  -webkit-transition: 0.2s all;
  overflow: hidden;
  height: 300px;
  width: 300px;
  display: flex;
}
